<div class="">
    <div class="row">
        <div class="col-9">
            <div *ngIf="loadingPost; else loadingTemp">
                <div *ngFor="let post of posts">
                    <app-post-tile [post]="post"></app-post-tile>
                </div>
            </div>
        </div>
        <div class="col-3">
            <app-side-bar></app-side-bar>
            <app-subreddit-side-bar></app-subreddit-side-bar>
        </div>
    </div>
</div>

<ng-template #loadingTemp>
    <div class="loader-small"></div>
</ng-template>
