<div class="">
    <h5 *ngIf="loadingSub; else loadingTemp">
        Sub name:&nbsp;{{sub.name}}<br/>Description:&nbsp;{{sub.description}}
    </h5>
    <div *ngIf="loadingPost; else loadingTemp">
        <div *ngFor="let post of posts">
            <app-post-tile [post]="post"></app-post-tile>
        </div>
        <app-pagination [page]="pagePost" (updatePage)="updatePageData($event)"></app-pagination>
    </div>
</div>

<ng-template #loadingTemp>
    <div class="loader-small"></div>
</ng-template>
