<div *ngIf="loadingPost; else loadingC " class="">
    <div class="row">
        <div class="col-9 border-1 border-dark border rounded-1">
            <div class="row">
                <div class="col-1">
                    <app-vote-button [post]="this.post"></app-vote-button>
                </div>
                <div class="col-11">
                    <app-post-top [post]="post" class="p-1"></app-post-top>
                    <div class=" p-1">Title: {{post.postName}}
                    </div>
                    <div class="p-1">
                        <quill-view-html [content]="post.description"></quill-view-html>
                    </div>

                    <div class="mt-5">
                        <form [formGroup]="commentForm" class="flex-column">
                            <div class="p-2">
                                <textarea [formControlName]="'text'" class="form-control"
                                          placeholder="Your thoughts?"></textarea>
                            </div>
                            <div class="d-flex justify-content-end p-2">
                                <button class="btn btn-secondary" type="submit" (click)="postComment()">Comment</button>
                            </div>
                        </form>
                    </div>

                    <div *ngIf="loadingComment; else loadingC" class="  my-2">
                        <div *ngFor="let comment of comments">
                            <div class="border-dark border-bottom border-1 d-flex justify-content-between">
                                <strong>{{comment.text}}</strong>
                                <div class="">
                                    <a routerLink="/user/">{{comment.userName}}</a>&nbsp;
                                    <span>{{getDateFormat(comment.createdDate)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <app-side-bar></app-side-bar>
            <app-subreddit-side-bar></app-subreddit-side-bar>
        </div>
    </div>
</div>


<ng-template #loadingC>
    <p class="text-center">loading...</p>
</ng-template>
