.sidebar {
    width: 312px;
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}

.btnCreatePost, .btnCreateSubreddit {

    width: 288px;
    height: 34px;

}

.btnCreateSubreddit {
    margin-top: 5px;
}

.sidebar > ul > li {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #1c1c1c;
}
