<div class="">
    <div class="">
        Welcome <strong>{{name}}</strong>.<br/> You have posted <strong>{{postLength}}</strong>.
        You can check your post and comment history below.
    </div>
    <h5>
        Your Posts:
    </h5>
    <div *ngIf="loadingPost; else loadingTemp">
        <div *ngFor="let post of posts">
            <app-post-tile [post]="post"></app-post-tile>
        </div>
    </div>
    <app-pagination [page]="pagePost" (updatePage)="updatePageData($event)"></app-pagination>
    <div>
        Your Comments:
    </div>
    <div *ngIf="loadingPost; else loadingTemp">
        <div *ngFor="let comment of comments">
            <div class="border-dark border-bottom border-1 d-flex justify-content-between">
                <strong>{{comment.text}}</strong>
                <div class="">
                    <a class="link-secondary" routerLink="/user/{{comment.userName}}">{{comment.userName}}</a>&nbsp;
                    <span>{{getDateFormat(comment.createdDate)}}</span>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #loadingTemp>
    <div class="loader-small"></div>
</ng-template>
