<div class="">
    <div class="row">
        <div class="col-9">
            <form [formGroup]="createSubredditForm" class="">
                <div class="form-group">
                    <div class="my-2">Create Subreddit</div>
                    <input [formControlName]="'title'" class="form-control" placeholder="Title" type="text">
                    <textarea [formControlName]="'description'" class="form-control my-2" placeholder="Description"
                              type="text"></textarea>
                    <div class="d-flex justify-content-end">
                        <div class="">
                            <button (click)="discard()" class="btn btn-warning mx-2">Discard</button>
                            <button (click)="createSubreddit()" class="btn btn-primary"
                                    [disabled]="createSubredditForm.invalid">Create
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3">
            <div class="">
                <h5 class="">Posting to string read:</h5>
                <ul>
                    <li>Remember the human</li>
                    <hr/>
                    <li>Behave like you would in real life</li>
                    <hr/>
                    <li>Don't spam</li>
                    <hr/>
                </ul>
            </div>
        </div>
    </div>
</div>

